
.popup__close {
    width: 41px;
    height: 41px;
    position: absolute;
    padding: 0;
    right: -36px;
    top: -39px;
    border: none;
    background: rgba(0, 0, 0, 0) url("../../../images/close-icon.svg") no-repeat center;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
} 