.profile__avatar {
    width: 150px;
    height: 120px;
    max-width: 120px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    z-index: 0;
    /*background-image: url('../../../images/image.jpg');*/
    background-size: cover;
    background-position: center;
}


.profile__avatar:hover {
    cursor: pointer;
}

.profile__avatar:hover::after {
    background-color: rgba(0, 0, 0, .8);
    content: '';
    background-image: url('../../../images/avatar-edit.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;

    width: 150px;
    height: 120px;
}