.popup__item {
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 27px;
  margin-bottom: 5px;
  margin-top: 18px;
}

@media screen and (max-width: 450px) {
  .popup__item {
    font-size: 12px;
    line-height: 15px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
}
