.element__delete-icon {
  display: none;
  background-image: url(../../../images/delete-icon.svg);
  background-color: rgba(128, 128, 128, 0.2);
  height: 30px;
  width: 30px;
  position: absolute;
  right: 15px;
  top: 18px;
  background-repeat: no-repeat;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 20%;
  background-position: center center;
}

.element__delete-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}
